# 커피 지수
## 데이터에서 4개 커피샾에 대한 정보 추출해서 저장하기

In [2]:
from google.colab import drive
drive.mount('/content/mnt')

Mounted at /content/mnt

In [3]:
data_folder = '/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630'

In [6]:
import pandas as pd

## 서울 데이터에서 4개 매장 정보 추출하기

In [58]:
coffee_seoul = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv', encoding='utf-8')
coffee_seoul.head(2)

     상가업소번호   상호명  지점명 상권업종대분류코드 상권업종대분류명  ...  동정보  층정보 호정보          경도         위도
0  17174175   비지트  NaN         Q       음식  ...  NaN    1 NaN  126.991394  37.488375
1  17174119  쓰리에프  NaN         Q       음식  ...  NaN  NaN NaN  126.980952  37.487105

[2 rows x 39 columns]

In [59]:
coffee_seoul = coffee_seoul[coffee_seoul.상권업종중분류코드=='Q12']
coffee_seoul.head(2)

       상가업소번호    상호명          지점명 상권업종대분류코드  ... 층정보 호정보          경도         위도
28   20659878    커피빈  코리아대학로대명거리점         Q  ...   3 NaN  127.000171  37.583149
111  20676428  요거프레소          쌍문점         Q  ...   1 NaN  127.034746  37.658728

[2 rows x 39 columns]

In [60]:
coffee_seoul = coffee_seoul[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
coffee_seoul.head(2)

       상호명          지점명    시도명 시군구명             도로명주소
28     커피빈  코리아대학로대명거리점  서울특별시  종로구  서울특별시 종로구 대명길 25
111  요거프레소          쌍문점  서울특별시  도봉구   서울특별시 도봉구 도당로 7

In [99]:
len(coffee_seoul[coffee_seoul.상호명.str.contains('starbucks', case=False)])

1

In [117]:
coffee_seoul_df = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])
for name in ['스타벅스', 'starbucks', '커피빈', 'coffeebean', '이디야', 'ediya', '빽다방', 'paikscoffee']:
    coffee = coffee_seoul[coffee_seoul.상호명.str.contains(name, case=False)] # case=False : 대,소문자 구분하지 않음
    coffee_seoul_df = pd.concat([coffee_seoul_df, coffee])

In [120]:
coffee_seoul_df[coffee_seoul.상호명.str.contains('paikscoffee', case=False)]

                   상호명  지점명    시도명 시군구명                  도로명주소
289562  빽다방PAIKSCOFFEE  NaN  서울특별시  마포구    서울특별시 마포구 마포대로4길 16
209469     PAIKSCOFFEE  NaN  서울특별시  송파구  서울특별시 송파구 올림픽로35길 104
289562  빽다방PAIKSCOFFEE  NaN  서울특별시  마포구    서울특별시 마포구 마포대로4길 16

In [123]:
coffee_seoul_df.drop_duplicates(inplace=True)

In [124]:
len(coffee_seoul_df)

1225

## 전국 데이터에서 4개 매장 정보 추출하기

In [4]:
from glob import glob
for file in glob(f'{data_folder}/*.csv'):
    print(file)

/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경기_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경북_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_광주_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대구_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대전_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_부산_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_세종_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_울산_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_인천_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전북_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_제주_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충북_202106.csv

In [19]:
import warnings
warnings.filterwarnings('ignore')

In [144]:
df = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])

for file in glob(f'{data_folder}/*.csv'):
    coffee = pd.read_csv(f'{file}', encoding='utf-8')
    coffee = coffee[coffee.상권업종중분류코드=='Q12']
    coffee = coffee[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]

    for name in ['스타벅스', 'starbucks', '커피빈', 'coffeebean', '이디야', 'ediya', '빽다방', 'paikscoffee']:
        coffee_df = coffee[coffee.상호명.str.contains(name, case=False)]
        df = pd.concat([df, coffee_df])
    df.drop_duplicates(inplace=True) # 중복 데이터 제거

In [145]:
df.head()

               상호명        지점명  시도명 시군구명                   도로명주소
3226    스타벅스강릉안목항점     강릉안목항점  강원도  강릉시      강원도 강릉시 창해로14번길 40
5584          스타벅스  대명델피노리조트점  강원도  고성군  강원도 고성군 토성면 미시령옛길 1153
7827   스타벅스춘천후평DT점    춘천후평DT점  강원도  춘천시         강원도 춘천시 후석로 318
9325          스타벅스      춘천명동점  강원도  춘천시          강원도 춘천시 중앙로 55
10764  스타벅스설악워터피아점    설악워터피아점  강원도  속초시   강원도 속초시 미시령로2983번길 88

In [146]:
df.tail()

       상호명     지점명   시도명     시군구명                   도로명주소
70264  빽다방  충북대중문점  충청북도  청주시 서원구   충청북도 청주시 서원구 내수동로 101
81932  빽다방    서원대점  충청북도  청주시 서원구  충청북도 청주시 서원구 서원남로 50-5
83276  빽다방     진천점  충청북도      진천군     충청북도 진천군 진천읍 상산로 73
83369  빽다방   청주강서점  충청북도  청주시 흥덕구    충청북도 청주시 흥덕구 강서로 115
83757  빽다방     NaN  충청북도      증평군    충청북도 증평군 증평읍 중앙로 197

In [147]:
len(df)

4569

In [148]:
df.set_index('상호명', inplace=True)
df.reset_index(inplace=True)
df.tail()

      상호명     지점명   시도명     시군구명                   도로명주소
4564  빽다방  충북대중문점  충청북도  청주시 서원구   충청북도 청주시 서원구 내수동로 101
4565  빽다방    서원대점  충청북도  청주시 서원구  충청북도 청주시 서원구 서원남로 50-5
4566  빽다방     진천점  충청북도      진천군     충청북도 진천군 진천읍 상산로 73
4567  빽다방   청주강서점  충청북도  청주시 흥덕구    충청북도 청주시 흥덕구 강서로 115
4568  빽다방     NaN  충청북도      증평군    충청북도 증평군 증평읍 중앙로 197

In [130]:
df.to_csv('전국커피매장.csv', index=False)

In [153]:
import copy

In [175]:
df2 = df.copy()
df2.상호명[df2.상호명.str.contains('스타벅스', case=False)] = '스타벅스'
df2.상호명[df2.상호명.str.contains('starbucks', case=False)] = '스타벅스'

In [166]:
len(df2[df2.상호명=='스타벅스'])

1547

In [177]:
df2.상호명[df2.상호명.str.contains('커피빈', case=False)] = '커피빈'
df2.상호명[df2.상호명.str.contains('coffeebean', case=False)] = '커피빈'

In [160]:
len(df2[df2.상호명=='커피빈'])

293

In [176]:
df2.상호명[df2.상호명.str.contains('이디야', case=False)] = '이디야'
df2.상호명[df2.상호명.str.contains('ediya', case=False)] = '이디야'

In [156]:
len(df2[df2.상호명=='이디야'])

2120

In [178]:
df2.상호명[df2.상호명.str.contains('빽다방', case=False)]= '빽다방'
df2.상호명[df2.상호명.str.contains('paikscoffee', case=False)] = '빽다방'

In [162]:
len(df2[df2.상호명=='빽다방'])

609

In [179]:
df2.to_csv('전국커피매장2.csv', index=False)

## 강사님 풀이

In [212]:
starbucks = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])
coffeebean = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])
ediya = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])
paik = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])

In [213]:
from glob import glob
for filename in glob(f'{data_folder}/*.csv'):
    print(filename)
    df = pd.read_csv(filename)
    df = df[df.상권업종중분류코드=='Q12']
    df = df[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
    # NaN값이 존재하는 경우 pandas.Series로 결과를 받아 행을 취득하려고 하면 에러가 발생
    # NaN이 존재하는 경우에는 na로 NaN 결과를 치환해 주도록 설정 : na=False
    sb = df[df.상호명.str.contains('스타벅스|starbucks', case=False)]
    cb = df[df.상호명.str.contains('커피빈|coffeebean', case=False)]
    ed = df[df.상호명.str.contains('이디야|ediya', case=False)]
    bd = df[df.상호명.str.contains('빽다방|paikscoffee', case=False)]

    starbucks = pd.concat([starbucks, sb])
    coffeebean = pd.concat([coffeebean, cb])
    ediya = pd.concat([ediya, ed])
    paik = pd.concat([paik, bd])

/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경기_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경북_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_광주_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대구_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대전_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_부산_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_세종_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_울산_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_인천_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전북_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_제주_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충북_202106.csv

In [214]:
starbucks.tail()

        상호명      지점명   시도명     시군구명                     도로명주소
72684  스타벅스     충북대점  충청북도  청주시 서원구     충청북도 청주시 서원구 내수동로 113
73841  스타벅스  청주율량DT점  충청북도  청주시 청원구  충청북도 청주시 청원구 충청대로107번길 8
79073  스타벅스    충주연수점  충청북도      충주시         충청북도 충주시 계명대로 227
79357  스타벅스    충주성서점  충청북도      충주시          충청북도 충주시 예성로 151
84354  스타벅스      NaN  충청북도      음성군       충청북도 음성군 원남면 보천로 65

In [215]:
len(starbucks), len(coffeebean), len(ediya), len(paik)

(1547, 293, 2120, 609)

In [209]:
result_dir = '/content/mnt/MyDrive/results/CoffeeIndex'

In [210]:
!mkdir -p $result_dir

In [211]:
starbucks.to_csv(f'{result_dir}/스타벅스.csv', index=False)
coffeebean.to_csv(f'{result_dir}/커피빈.csv', index=False)
ediya.to_csv(f'{result_dir}/이디야.csv', index=False)
paik.to_csv(f'{result_dir}/빽다방.csv', index=False)